.page-container {
	position: relative;
	min-height: 100vh;
}
main {
	padding-bottom: 500px;
}

.top-nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgb(172, 167, 191);
	z-index: 1;
	height: 70px;
}
.front-piece {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 230px;
}
.logo {
	width: 110px;
	max-height: 35px;
}

.search-bar-container {
	display: flex;
	flex-grow: 1;
}
.search-bar {
	height: 3rem;
	width: 90%;
	border: 1px solid black;
	border-left: none;
	border-top-left-radius: 0;
	border-top-right-radius: 7% 50%;
	border-bottom-right-radius: 7% 50%;
	border-bottom-left-radius: 0;
}
.search-bar:focus,
.search-bar:active {
	outline: none;
}
.search-bar-button {
	height: 3rem;
	width: 12%;
	border: 1px solid black;
	border-right: none;
	border-radius: 50% 0 0 50%;
	color: black;
	background-color: white;
}
.end-piece {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 50%;
}
.icon {
	width: 20px;
	height: 20px;
}
.home-button {
	background-color: black;
	color: white;
	font-size: 0.9rem;
	border-radius: 50%;
	padding: .25rem .5rem;
}
.dropdown {
	position: relative;
	font-size: 0.85rem;
}
.dropdown-menu {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	top: 30px;
	right: 0px;
	background-color: lavender;
	border: 0.5px solid black;
	padding: 1rem;
	width: 300px;
	height: 140px;
	z-index: 1000;
	transition: all 0.3s ease-in;
}
.dropdown:hover > .dropdown-menu {
	opacity: 1;
	z-index: 1;
	transform: translateZ(175px) perspective(300px);
}

.drop-title {
	font-size: 14px;
	text-align: center;
}
.drop-link {
	width: 80%;
	padding: 1rem;
	background-color: black;
	color: white;
	text-align: center;
}
.dropdown-menu.my-learning-list {
	height: auto;
}
.learning-card {
	border-bottom: 1px solid rgb(101, 101, 154);
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 1.2rem 0;
	text-align: center;
}
.learning-card img {
	max-width: 30%;
}

@media screen and (max-width: 1080px) {
	.udemy-business {
		display: none;
	}
	.end-piece {
		width: 40%;
	}
}
@media screen and (max-width: 1000px) {
	.end-piece {
		width: 45%;
	}
}
@media screen and (max-width: 920px) {
	.teach-udemy {
		display: none;
	}
	.end-piece {
		width: 35%;
	}
}
@media screen and (max-width: 825px) {
	.heart,
	.bell {
		display: none;
	}
	.end-piece {
		width: 25%;
	}
}
@media screen and (max-width: 800px) {
	.top-nav {
		padding-left: 1rem;
	}
	.front-piece {
		justify-content: center;
		flex-grow: 1;
	}
	.search-bar-container {
		flex-grow: 0;
	}
	.search-bar-button {
		border: none;
		border-radius: none;
		width: 20px;
		height: 30px;
	}
	.end-piece {
		width: 50px;
		margin-right: 20px;
		margin-left: 10px;
	}
	.categories,
	.search-bar,
	.my-learning,
	.home {
		display: none;
	}
}

@media screen and(min-width: 1100px) {
	.search-bar {
		border-top-right-radius: 6% 50%;
		border-bottom-right-radius: 6% 50%;
	}
}
@media screen and (min-width: 1200px) {
	.search-bar {
		border-top-right-radius: 5% 50%;
		border-bottom-right-radius: 5% 50%;
	}
}
@media screen and (min-width: 1300px) {
	.search-bar {
		border-top-right-radius: 4% 50%;
		border-bottom-right-radius: 4% 50%;
	}
}
@media screen and (min-width: 1400px) {
	.search-bar {
		border-top-right-radius: 3% 50%;
		border-bottom-right-radius: 3% 50%;
	}
}
@media screen and (min-width: 1500px) {
	.search-bar {
		border-top-right-radius: 2% 50%;
		border-bottom-right-radius: 2% 50%;
	}
}
